body {
  padding-left: 11em;
  font-family: Georgia, "Times New Roman",
        Times, serif;
  color: gray;
  background-color: #353535 }
ul.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 2em;
  left: 1em;
  width: 9em }
h1 {
  font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif }
ul.navbar li {
  background: white;
  margin: 0.5em 0;
  padding: 0.3em;
  border-right: 1em solid black }
ul.navbar a {
  text-decoration: none }
a:link {
  color: light blue }
a:visited {
  color: black }
address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted }
 
 /* resume specific css items? */
 .entity {font-weight:bold}
 .position {font-style:italic}
 .date {font-weight:200}
  
  /* tabs? */
  dl.tabs { display: block; margin: 0 0 20px 0; padding: 0; height: 30px; border-bottom: solid 1px #ddd; }
    dl.tabs dt { display: block; width: auto; height: 30px; padding: 0 9px 0 20px; line-height: 30px; float: left; color: #999; font-size: 11px; text-transform: uppercase; cursor: default; }
    dl.tabs dt:first-child { padding: 0 9px 0 0; }
    dl.tabs dd { display: block; width: auto; height: 30px; padding: 0; float: left; }
    dl.tabs dd a { display: block; width: auto; height: 29px; padding: 0 9px; line-height: 30px; border: solid 1px #ddd; margin: 0 -1px 0 0; color: #555; background: #eee; }
    dl.tabs dd a.active { background: #fff; border-width: 1px 1px 0 1px; height: 30px; }

		.nice.tabs { border-bottom: solid 1px #eee; margin: 0 0 30px 0; height:43px; }
		.nice.tabs dd a { padding: 7px 18px 9px; font-size: 15px; font-size: 1.5rem; color: #555555; background: none; border: none; }
		.nice.tabs dd a.active { font-weight: bold; color: #333; background: #fff; border-left: 1px solid #eee; border-right: 1px solid #eee; border-top: 3px solid #00a6fc; margin: 0 10px; position: relative; top: -5px; }
		.nice.tabs dd:first-child a.active { margin-left: 0; }
		
	dl.tabs.vertical { height: auto; }
	dl.tabs.vertical dt, dl.tabs.vertical dd, dl.nice.tabs.vertical dt, dl.nice.tabs.vertical dd { float: none; height: auto; }
	dl.tabs.vertical dd a { display: block; width: auto; height: auto; padding: 15px 20px; line-height: 1; border: solid 0 #ccc; border-width: 1px 1px 0; margin: 0; color: #555; background: #eee; font-size: 15px; font-size: 1.5rem; }
	dl.tabs.vertical dd a.active { height: auto; margin: 0; border-width: 1px 0 0; background: #fff; }
	
		.nice.tabs.vertical { border-bottom: solid 1px #eee; height: auto; }
		.nice.tabs.vertical dd a { padding: 15px 20px; border: none; border-left: 1px solid #eee; border-right: 1px solid #eee; border-top: 1px solid #eee; background: #fff; }
		.nice.tabs.vertical dd a.active { border: none; background: #00a6fc; color: #fff; margin: 0; position: static; top: 0; height: auto; }
		.nice.tabs.vertical dd:first-child a.active { margin: 0; }
    
    ul.tabs-content { margin: 0; display: block; }
    ul.tabs-content>li { display: none; }
    .no-js ul.tabs-content>li { display: block; }
    ul.tabs-content>li.active { display: block; }
    
    dl.contained, dl.nice.contained { margin-bottom: 0; }
    dl.contained.tabs dd a { padding: 0 14px; }
    dl.nice.contained.tabs dd a { padding: 7px 18px 9px; }

    ul.contained.tabs-content { padding: 0; }
	ul.contained.tabs-content>li { padding: 20px; border: solid 0 #ddd; border-width: 0 1px 1px 1px; }
	ul.contained.vertical.tabs-content>li { border-width: 1px 1px 1px 1px; }
	ul.nice.contained.tabs-content>li { border-color: #eee; }

/* Button Style */
	.button {
		-moz-box-shadow:inset 0px 1px 0px 0px #353535;
		-webkit-box-shadow:inset 0px 1px 0px 0px #353535;
		box-shadow:inset 0px 1px 0px 0px #353535;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #353535), color-stop(1, #595959) );
		background:-moz-linear-gradient( center top, #353535 5%, #595959 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#353535', endColorstr='#595959');
		background-color:#353535;
		-moz-border-radius:6px;
		-webkit-border-radius:6px;
		border-radius:6px;
		border:1px solid #858585;
		display:inline-block;
		color:#808080;
		font-family:arial;
		font-size:15px;
		font-weight:bold;
		padding:6px 24px;
		text-decoration:none;
		text-shadow:1px 1px 0px #353535;
		text-align:center;
	}.button:hover {
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #595959), color-stop(1, #353535) );
		background:-moz-linear-gradient( center top, #595959 5%, #353535 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#595959', endColorstr='#353535');
		background-color:#595959;
	}.button:active {
		position:relative;
		top:1px;
	}

/* Button Style for using an image */
	.button-with-image {
		-moz-box-shadow:inset 0px 1px 0px 0px #353535;
		-webkit-box-shadow:inset 0px 1px 0px 0px #353535;
		box-shadow:inset 0px 1px 0px 0px #353535;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #353535), color-stop(1, #595959) );
		background:-moz-linear-gradient( center top, #353535 5%, #595959 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#353535', endColorstr='#595959');
		background-color:#353535;
		-moz-border-radius:6px;
		-webkit-border-radius:6px;
		border-radius:6px;
		border:1px solid #858585;
		display:inline-block;
		color:#808080;
		font-family:arial;
		font-size:15px;
		font-weight:bold;
		background-repeat:no-repeat; 
		background-position: center center; 
		padding:6px 6px;
		text-decoration:none;
		text-shadow:1px 1px 0px #353535;
		text-align:center;
	}.button-with-image:hover {
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #595959), color-stop(1, #353535) );
		background:-moz-linear-gradient( center top, #595959 5%, #353535 100% );
		background-repeat:no-repeat; 
		background-position: center center; 
		padding:6px 6px;
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#595959', endColorstr='#353535');
		background-color:#595959;
	}.button-with-image:active {
		position:relative;
		top:1px;
	}
	